header {
    background-color: rgb(82, 24, 9);
    color:beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    text-align: center;
 
}

main {
    background-color: lightgrey;
    padding: 12px 11px;
}


    
body {
    background-image: url('record.png');
    background-repeat: repeat;
    background-size: 50px;
    margin: 0;
    
  }